---
import PythonIcon from '../icons/PythonIcon.astro'
import HtmlIcon from '../icons/HtmlIcon.astro'

const TAGS = {
    PYTHON: {
        name: 'Python',
        class: 'bg-[#003159]/40 text-white',
        icon: PythonIcon,
    },
    HTML: {
        name: 'HTML',
        class: 'bg-[#E34F26]/40 text-white',
        icon: HtmlIcon,
    },
}

const PROJECTS = [
  {
    title: 'Catálogos automaticos',
    description: 'Generador de catálogos automáticos para productos de empresas, con la capacidad de generar un archivo PDF con un diseño personalizado basado en la información dinámica de los productos.',
    image: 'https://i.postimg.cc/hjJQMZdn/image.png',
    tags: [TAGS.PYTHON, TAGS.HTML],
  },
]

---

{
    PROJECTS.map(({ image, title, description, tags }) => (
    <article class="group">
        <div class="w-full md:max-w-lg">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2 w-full md:max-w-lg">{title}</h3>
        </div>
            <div class="text-lg mb-4 text-pretty">{description}</div>
    
            <ul class="flex gap-x-4 flex-row mb-3">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 `}>
                        <tag.icon class="size-6"/>
                        {tag.name}
                        </span> 
                        </li>
                ))}
            </ul>
            <div class="w-full aspect-w-4 aspect-h-3">
                <img 
                class="rounded shadow-xl shadow-white/10 item-center w-full h-auto object-cover transition duration-500 mb-4 sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl " loading="lazy"
                src={image} alt={`Captura de pantalla del proyecto ${image}`} /></div>

        </article>
    ))
}